{% extends 'base_template.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if not user.name %}
        <h3 class="mb-0">Admin</h3>
    {% else %}
        <h3 class="mb-0">{{ user.name }}</h3>
    {% endif %}
    <h4 class="mb-0">Rated books</h4>
    <div class="list-group">
        {% if user.books.0.isbn %}
            {% for book in user.books %}
                <div class="list-group-item list-group-item-action col-md-3">
                    <a href="/book?isbn={{ book.isbn }}">
                        <h6 class="mb-0">{{ book.title }}</h6>
                    </a>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <script>
							drawStars({{ book.rating }});
                        </script>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="list-group-item list-group-item-action col-md-3">
                <h6 class="mb-0">-</h6>
            </div>
        {% endif %}
    </div>
    <h4 class="mb-0">Follows</h4>
    <div class="list-group">
        {% if user.users.0.id %}
            {% for user in user.users %}
                <div class="list-group-item list-group-item-action col-md-3">
                    <a href="/user?id={{ user.id }}">
                        <h6 class="mb-0">{{ user.name }}</h6>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="list-group-item list-group-item-action col-md-3">
                <h6 class="mb-0">-</h6>
            </div>
        {% endif %}
    </div>
    {% if not user.name %}
        <button type="button" class="btn btn-secondary btn-sm"
                onClick="document.getElementById('form').style.display= 'block'">
            Edit
        </button>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-secondary btn-sm">
            Delete account
        </button>
    </form>
    <div id="form" style="display: none">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="patch">
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
        </form>
    </div>
{% endblock %}