{% extends 'base_template.html' %}
{% block content %}
    <div class="list-group">
        {% for user in users %}
            <div class="list-group-item list-group-item-action col-md-3">
                <a href="/user?id={{ user.id }}">
                    <h6 class="mb-0">{{ user.name }}</h6>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% if users.has_other_pages %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if users.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users.previous_page_number }}"
                               tabindex="-1">Previous</a>
                        </li>
                    {% else %}
                        <li>
                            <div class="page-link disabled" tabindex="-1">Previous</div>
                        </li>
                    {% endif %}
                    {% for i in users.paginator.page_range %}
                        {% if i <= users.number|add:5 and i >= users.number|add:-5 %}
                            {% if users.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <div class="page-link disabled">Next</div>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}